<div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form [formGroup]="DesignationForm" (ngSubmit)="Save()" class="border rounded p-4 shadow">
          <fieldset>
            <legend>{{ isEdit ? 'Edit Designation' : 'Add Designation' }}</legend>
  
            @if(isEdit){
            <div class="form-group">
              <label>Designation ID</label>
              <input type="text" class="form-control" id="DesignationId" formControlName="Id" readonly/>
            </div>
                }
            
            <div class="form-group">
              <label>Designation Name</label>
              <input type="text" class="form-control" id="DesignationName" formControlName="Name" />
            </div>
            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control" id="DesignationName" formControlName="Description" />
              </div>
  
            
            <div class="form-group mt-3">
              <button type="submit" class="btn btn-primary" [disabled]="!DesignationForm.valid">
                <i class="material-icons">{{ isEdit ? 'update' : 'save' }}</i>
                {{ isEdit ? 'Update' : 'Save' }}
              </button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  